.right-side {
  flex: 3;
  display: grid;
  height: 100vh;
}

.animation {
  position: relative;
}

.container {
  align-self: center;
  justify-self: center;
  height: 600px;
  width: 743px;
}

.four .right {
  position: absolute;
  left: 0;
  top: -50px;
}

.four .left {
  position: absolute;
  right: 49px;
  top: -50px;
}

.one {
  position: absolute;
  left: 454px;
  top: 230px;
}

.two {
  position: absolute;
  left: 210px;
  top: 233px;
}

.three {
  position: absolute;
  left: 331px;
  top: 480px;
}



.four {
  position: absolute;
  left: 450px;
  top: 110px;
  translate: 0% -50%;

}

.six {
  position: absolute;
  left: 266px;
  top: 163px;
  transform-origin: left top;
  transition: all 1s;
  translate: -50% -50%;

}

.seven {
  position: absolute;
  transform-origin: left top;
  left: 400px;
  top: 283px;
  translate: -50% -50%;
}

.eight {
  position: absolute;
  left: 454px;
  top: 533px;
  translate: 0% -50%;
  transform-origin: top right;
}

.nine {
  position: absolute;
  left: 216px;
  top: 383px;
  transform-origin: bottom right;
}



.ten {
  position: absolute;
  left: 216px;
  top: 533px;
  translate: 0% -50%;
  transform-origin: top right;

}

.eleven {
  position: absolute;
  left: 349px;
  top: 408px;
  translate: 0% -50%;
  transform-origin: top center;
}


.left {
  translate: 49% 50%;
}

.right {
  translate: 0% 50%;
}

.seven>path {
  translate: 50% 50%;
}

.eight>path {
  translate: 0% 50%;
}

/* .nine>path{ translate: 0% 50%;} */
.ten>path {
  translate: 0% 50%;
}

.eleven>path {
  translate: 0% 50%;
}



/* .Svg__container:hover .one{translate:0 -100%;transform-origin: center ; }
.Svg__container:hover .two{translate:0 100%;transform-origin: center ; }
.Svg__container:hover .three{translate:100% 0%;transform-origin: center ; } */
/* .Svg__container:hover .four{rotate: -180deg;transform-origin: center ; } */
/* .Svg__container:hover .six{ rotate: -90deg;transform-origin: center; } */
/* .Svg__container:hover .seven{ rotate: -90deg;transform-origin: center; } */
/* .Svg__container:hover .eight{ rotate: -180deg;transform-origin: center; } */
/* .Svg__container:hover .nine{ rotate: -90deg;transform-origin: center; } */
/* .Svg__container:hover .ten{ rotate: -180deg;transform-origin: center; } */
/* .Svg__container:hover .eleven{ rotate: -180deg;transform-origin: center; } */


.one {
  animation: Top 2s 1s infinite;
}

.two {
  animation: bottom 2s 1s infinite;
}


.three {
  animation: right 2s 1s infinite;
}


.four,
.eight,
.ten,
.eleven {
  animation: longrotate 2s 1s infinite;
}


.six,
.seven,
.nine {
  animation: shortrotate 2s 1s infinite;
}

@keyframes longrotate {
  0% {
    rotate: 0deg
  }

  40% {
    rotate: -0deg
  }

  50% {
    rotate: -200deg
  }

  55% {
    rotate: -160deg
  }

  60% {
    rotate: -180deg
  }

  80% {
    rotate: -180deg
  }

  100% {
    rotate: -0deg
  }

}

@keyframes shortrotate {
  0% {
    rotate: 0deg
  }

  40% {
    rotate: -0deg
  }

  50% {
    rotate: -100deg
  }

  55% {
    rotate: -80deg
  }

  60% {
    rotate: -90deg
  }

  80% {
    rotate: -90deg
  }

  100% {
    rotate: -0deg
  }

}

@keyframes Top {
  0% {
    translate: 0 0%
  }

  40% {
    translate: 0 0%
  }

  50% {
    translate: 0 -110%
  }

  60% {
    translate: 0 -98%
  }

  55% {
    translate: 0 -100%
  }

  80% {
    translate: 0 -100%
  }

  100% {
    translate: 0 0%
  }
}

@keyframes bottom {
  0% {
    translate: 0 0%
  }

  40% {
    translate: 0 0%
  }

  50% {
    translate: 0 110%
  }

  55% {
    translate: 0 98%
  }

  60% {
    translate: 0 100%
  }

  80% {
    translate: 0 100%
  }

  100% {
    translate: 0 0%
  }
}

@keyframes right {
  0% {
    translate: 0 0%
  }

  40% {
    translate: 0 0%
  }

  50% {
    translate: 110% 0
  }

  55% {
    translate: 98% 0
  }

  60% {
    translate: 100% 0
  }

  80% {
    translate: 100% 0
  }

  100% {
    translate: 0 0%
  }
}



.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.half-big-circle {
  width: 200px;
  height: 100px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.grey {
  background-color: #393939;
}

.blue {
  background-color: #95D0D5
}

.perpule {
  background-color: #71357C;
}

.orange {
  background-color: #FD7E50
}

.red {
  background-color: #F35D5D;
  ;
}

.quater_buttom_left {
  border-radius: 0;
  border-bottom-left-radius: 100px;
}

.quater_top_left {
  border-radius: 0;
  border-top-left-radius: 100px;
}

.quater_buttom_right {
  border-radius: 0;
  border-bottom-right-radius: 100px;
}

/* .circle--gray{animation: top 1s 1s  linear alternate infinite;} */
/* .half--blue{ transform-origin:center;animation: longrotate 1s 1s  linear alternate infinite;} */